:root {

    /* === Cover / Landing area === */
    --cover-text-color: #b4852c;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #b4852c;
    --highlight-contrast: var(--cover-text-color);
    /*iverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: #b4852c;
    --cover-title-text-shadow: white 0px 0px 7px;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: #b4852c;


    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #b4852c;
    /* Light section - background color */
    --section-light-bg-color: #ffffff;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: #b4852c;

    /* Light&Dark section >quote. Supressive color, compared to 'Light section - text color'*/
    --section-uni-quote: grey;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #b4852c;


    /* === Footer === */
    --footer-color-background: #ffffff;
    --footer-color: #ffffff;
}